In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.model_selection import train_test_split

In [2]:
# read in the datasets and concat together
df_1 = pd.read_csv('email_spam_dataset/lingSpam.csv', usecols=["Body", "Label"])
df_2 = pd.read_csv('email_spam_dataset/enronSpamSubset.csv', usecols=["Body", "Label"])
df_3 = pd.read_csv('email_spam_dataset/completeSpamAssassin.csv', usecols=["Body", "Label"])

In [3]:
df = pd.concat([df_1, df_2, df_3], ignore_index=True)
df = df.dropna()
df.head()

                                                Body  Label
0  Subject: great part-time or summer job !\n \n ...      1
1  Subject: auto insurance rates too high ?\n \n ...      1
2  Subject: do want the best and economical hunti...      1
3  Subject: email 57 million people for $ 99\n \n...      1
4  Subject: do n't miss these !\n \n attention ! ...      1

In [4]:
# get rid of "Subject: " in front of every email
df["Body"] = [text[9:].lower() for text in df["Body"]]
df.head()

                                                Body  Label
0  great part-time or summer job !\n \n * * * * *...      1
1  auto insurance rates too high ?\n \n dear nlpe...      1
2  do want the best and economical hunting vacati...      1
3  email 57 million people for $ 99\n \n 57 milli...      1
4  do n't miss these !\n \n attention ! warning !...      1

In [5]:
# label 0 = not spam, 1 = spam
label = ["Not Spam", "Spam"]
label_counts = df["Label"].value_counts()

In [6]:
X = df["Body"]
y = df["Label"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# here is where we split from the SVM, we use count vectorization